.preloader {
    position: fixed;
    z-index: 99999;
    background: #edf1f5;
    width: 100%;
    height: 100%;
}

.preloader-content {
    border: 0 solid transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 70px);
    left: calc(50vw - 70px);
}
